{% extends 'app/master.html' %}
{% load static %}
{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Hello I'm Ajay,</h1>
          <h2>Intership as Python/Django Developer</h2>
          
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://www.naukri.com/Profile/download?" class="btn-get-started scrollto">Download CV</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static '/assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

   

   

    

    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Contact-us</h3>
            <p>Lucknow Uttar Pradesh India. (226001)</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
      </div>
    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->
{% endblock %}
  