<!DOCTYPE html>
<head>
    <title>Success!</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body{
        background-image: url('bg.jpg');
    }
</style>
</head>

<body><br>
<center><h1 style="color:blue" margin-top=12% >Student Registration has been succesfully..</h1>
    <h3>Himalyan Garhwal University</h3>
    <p> Block Pokhra, District Pauri Garhwal, Uttrakhand.</p>
    <p>Established under section 2(f) of UGC Act, 1956</p>
</center>
</body>
</html>
