<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scimox - Candidates</title>
    <meta content="" name="description">

    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">



</head>


<body>

    

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="/static/img/logo.png" alt="">
                <span>Scimox</span></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="/candidates">Candidates</a></li>
                    <li><a href="/business">business</a></li>
                    <li><a href="/sector">Sectors</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a id="login" class="nav-link" aria-current="page" href="login.html">
                            <button type="button" class="btn btn-outline-primary">Login</button></a></li>
                    <li><a id="sign" class="nav-link" aria-current="page" href="/signup">
                            <button type="button" class="btn btn-outline-secondary">Sign Up</button></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <!-- ======= Hero Section ======= -->

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Define your career with Scimox opportunities</h1>
                    <p></p>
                    <h5 data-aos="fade-up" data-aos-delay="400" id="h5text">From analyst to expert, we connect you to
                        ambitious companies looking to power change and hire the best. By harnessing our network of
                        globally recognised companies to fast-growing scale-ups, we help bridge the gap between you and
                        the most interesting commercial, strategic or analytical opportunities – for a day, a month, a
                        year or forever.</h5>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#pw"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Explore</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/static/img/can1.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <p></p>



    <!-- ======= project work section ======= -->
    <section id="pw" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/static/img/can2.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h2>Looking for project work?</h2>
                        <h6 id="h6text">Regardless of whether you're hoping to fabricate your business experience across
                            a scope of organizations, or utilize your counseling aptitude on an independent premise, we
                            can assist with associating you to a wide assortment of chances around your range of
                            abilities.
                            <p></p>
                            Get recruited quick and associated with a wide scope of organizations and searching for
                            short-term strategic and the board guidance, from functional and change techniques to
                            development drives.
                        </h6>
                        <p></p>

                        <div class="text-center text-lg-start">
                            <a href="#pp"
                                class="btn-read-more scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>More Positions</span>
                                <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End project work Section -->

    <!-- ======= About perm position ======= -->
    <section id="pp" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h2>Looking for a
                            permanent position?</h2>
                        <p></p>
                        <h5>Progress your profession with a top-level business position. Get associated with a scope of
                            recruiting organizations searching for the best individual to drive forward their procedures
                            and goals.<p></p>
                            We recognize greatness across all levels. By working in association with you and our
                            network of organizations, we set aside the effort to acquire a comprehension of the
                            difficulties, inspirations and abilities for the two sides and make significant associations
                            on a super durable or venture premise.
                        </h5>
                        <p></p>
                        <div class="text-center text-lg-start">
                            <a href="#cv"
                                class="btn-read-more scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Beyond the CV</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/static/img/can3.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End parm position Section -->

    <!-- ======= CV section ======= -->
    <section id="cv" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/static/img/can4.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h2>Beyond the CV</h2>
                        <h6 id="h6text">From beginning in your vocation to C-suite level, we cooperate with you to
                            assist with tracking down the most important position. We go past the CV to comprehend your
                            drivers and abilities to make the most of the associations that.

                            Our business network searches for top ability to assist with driving their goals, change
                            initatice and convey long haul development. Just as surveying experience and academics, all
                            experts are evaluated against the five measures of the 'business range of abilities' to
                            feature a balanced, effective person.</h6>
                        <p></p>

                        <div class="text-center text-lg-start">
                            <a href="signup.html"
                                class="btn-read-more scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Join the network</span>
                                <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End CV Section -->




    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe for Newsletter</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <img src="/static/img/logo.png" alt="">
                            <span>Scimox</span></a>
                        <p>ScimoX empowers people to advance their careers, improve their lives, and pursue the work
                            they love.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/candidates">Candidates</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/sector">Services</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/business">Businesses</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/scimox_policy">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://scimox.com/">HR services in
                                    Lucknow</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://scimox.com/python-training-in-lucknow/">Python Training in Lucknow</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://scimox.com/data-science-course-in-lucknow/">Data Science in
                                    Lucknow</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Head Office - ScimoX <br>
                            3rd Floor, 143, Hari Nagar Ashram ,<br>
                            New Delhi 110014 <br><br>
                            <strong>Phone:</strong> +917011907181,<br>
                            +918181818821,<br> 0522 4042817<br>
                            <strong>Email:</strong> someone@example.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Scimox</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/vendor/aos/aos.js"></script>
    <script src="/static/vendor/php-email-form/validate.js"></script>
    <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor/purecounter/purecounter.js"></script>
    <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>
</body>

</html>