<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scimox - Sectors</title>
  <meta content="" name="description">

  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  



</head>



<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/static/img/logo.png" alt="">
        <span>Scimox</span></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/candidates">Candidates</a></li>
          <li><a href="/business">Business</a></li>
          <li><a href="/sector">Sectors</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a id="login" class="nav-link" aria-current="page" href="login.html">
              <button type="button" class="btn btn-outline-primary">Login</button></a></li>
          <li><a id="sign" class="nav-link" aria-current="page" href="/signup">
              <button type="button" class="btn btn-outline-secondary">Sign Up</button></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->





  <!-- ======= Hero Section ======= -->

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up zoom-in">Contact Us</h1>
          <p></p>
          <h5 data-aos="fade-up" data-aos-delay="400" id="h5text">Much obliged to you for visiting our site and
            permitting us the chance to serve you. we endeavors to give the most significant data on everything New
            York, and consistently nearby in your area. If you might want to talk with one of our specialists, or need
            to study our site and freedoms to team up with us, we need to hear from you now! If it's not too much
            trouble, utilize the contact structure underneath to send us an email.
          </h5>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Give us a shout</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/img/con2.jpeg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <p></p>





  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Subscribe for Newsletter</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="/static/img/logo.png" alt="">
              <span>Scimox</span></a>
            <p>ScimoX empowers people to advance their careers, improve their lives, and pursue the work they love.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/candidates">Candidates</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/sector">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/business">Businesses</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/scimox_policy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://scimox.com/">HR services in Lucknow</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://scimox.com/python-training-in-lucknow/">Python
                  Training in Lucknow</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://scimox.com/data-science-course-in-lucknow/">Data
                  Science in Lucknow</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Head Office - ScimoX <br>
              3rd Floor, 143, Hari Nagar Ashram ,<br>
              New Delhi 110014 <br><br>
              <strong>Phone:</strong> +917011907181,<br>
              +918181818821,<br> 0522 4042817<br>
              <strong>Email:</strong> someone@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Scimox</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
</body>

</html>